*{
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    background:	#CD853F;
}
#mypainter {
    position: absolute;
    top: 7%;
    left: 10%;
    padding: 1%;
    background: #4169E1;
    width: 1400px;
    height: 740px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
}
#mycanvas {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 1050px;
    height: 700px;
    border-width: 1px;
    border-style:solid;
    border-color: #000000;
    background: #FFECB3;
    border-radius: 2%;
}
#txar {
    position: absolute;
    width: 130px;
    height: 40px;
    font-size: 30px;
    outline: #FFECB3;
    background-color: #FFECB3;
    display: none;
}
.btn {
    width: 60px;
    height: 60px;
    border-color:#2F4F4F;
    background:#2F4F4F;
}
.btng1{
    position: absolute;
    right:6%;
    top:10%
}
.btng2 {
    position: absolute;
    right:2%;
    top:20%;
}
#texinpB {
    position: absolute;
    right:8%;
    top:30%;
}
.btng3 {
    position: absolute;
    right:3%;
    top:38%;
}
.btng4{
    position: absolute;
    right:3.5%;
    top:48%;
}
.btng5{
    position: absolute;
    right:6%;
    top:60%;
}
#resB{
    position: absolute;
    right:8%;
    top:70%;
}
.btng6{
    position: absolute;
    right:6%;
    top:80%;
}
.rad{
    position: relative;
}
.ran{
    position: relative;
}